/* Vertical Lines Background */
.vertical-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    display: flex;
    justify-content: space-around;
}

.line {
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
    position: relative;
    overflow: hidden;
}

/* Optional: Running light effect on lines */
.line::after {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.2), transparent);
    animation: runLine 7s infinite linear;
}

.line:nth-child(1)::after {
    animation-delay: 0s;
}

.line:nth-child(2)::after {
    animation-delay: 2.5s;
}

.line:nth-child(3)::after {
    animation-delay: 1s;
}

.line:nth-child(4)::after {
    animation-delay: 4s;
}

@keyframes runLine {
    0% {
        top: -100%;
    }

    100% {
        top: 200%;
    }
}